alabaster==0.7.12
alembic==1.4.3
altgraph==0.17
astroid==2.4.2
autopep8==1.5.4
Babel==2.8.0
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
colorama==0.4.3
cryptography==3.2.1
docutils==0.16
-e git+https://github.com/jehboyes/finance_manager@46984b9bf565addb1ddda85a01a394268deb9656#egg=finance_manager
Flask==1.1.2
future==0.18.2
gitdb==4.0.5
GitPython==3.1.11
idna==2.10
imagesize==1.2.0
isort==5.6.3
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
Mako==1.1.3
MarkupSafe==1.1.1
mccabe==0.6.1
numpy==1.19.2
packaging==20.4
pandas==1.1.3
pbr==5.5.1
pefile==2019.4.18
progressbar2==3.53.1
pycodestyle==2.6.0
pycparser==2.20
Pygments==2.7.2
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.10
pylint==2.6.0
PyMySQL==0.10.1
pyparsing==2.4.7
python-dateutil==2.8.1
python-editor==1.0.4
python-utils==2.4.0
pytz==2020.1
pywin32-ctypes==0.2.0
requests==2.24.0
rstcheck==3.3.1
six==1.15.0
smmap==3.0.4
snowballstemmer==2.0.0
Sphinx==3.3.0
sphinx-click==2.5.0
sphinx-git==11.0.0
sphinx-rtd-theme==0.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
SQLAlchemy==1.3.19
tabulate==0.8.7
toml==0.10.1
typed-ast==1.4.1
urllib3==1.25.11
Werkzeug==1.0.1
wrapt==1.12.1
